* {
  background: linear-gradient(145deg, #303030, #404040);
  color: #616161;
  font-family: 'Oxanium', cursive;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.container {
  position: relative;
	width: 80vw;
  height: 80vh;
	border-radius: 30px;
	box-shadow: 6px 6px 12px #303030, 
             -6px -6px 12px #404040;
}

.logo {
  position: absolute;
  width: 5vw;
  height: 5vw;
  left: 20px;
  top: 20px;
	border-radius: 30px;
	box-shadow: 6px 6px 12px #303030, 
             -6px -6px 12px #404040;
}

.logo-text {
  position: absolute;
  align-content: center;
  display: grid;
  padding: 5px 10px;
  width: 10vw;
  height: 3vw;
  left: 105px;
  top: 10px;
  text-align: center;
	border-radius: 30px;
	box-shadow: 6px 6px 12px #303030, 
             -6px -6px 12px #404040;
}

.projects {
  position: relative;
  width: 50vw;
  height: 50vh;
  top: 120px;
  left: 105px;
  border-radius: 30px;
  box-shadow: 6px 6px 12px #303030, 
             -6px -6px 12px #404040;
}

.contact {
  position: absolute;
  top: 120px;
  left: 62vw;
  width: 15vw;
  height: 50vh;
  border-radius: 30px;
  box-shadow: 6px 6px 12px #303030, 
             -6px -6px 12px #404040;
}
